{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'admin/_menu.admin.html.twig' %}
        {% endblock %}
    <div class="border-bottom">
    <h1 class="text-center text-black mt-5 mb-5">Détails d'un article</h1>
    </div>
    <table class="table w-75 mx-auto mt-4">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ article.userId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Title_slug</th>
                <td>{{ article.titleSlug }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ article.text }}</td>
            </tr>
            <tr>
                <th>Article_date_create</th>
                <td>{{ article.articleDateCreate ? article.articleDateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Article_date_posted</th>
                <td>{{ article.articleDatePosted ? article.articleDatePosted|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ article.published ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
    <a href="{{ path('app_admin_article_index') }}" class="me-4 btn btn-outline-primary">Retour à la liste</a>

    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}" class="btn btn-outline-warning">Modifier</a>
    </div>
    {{ include('admin_article/_delete_form.html.twig') }}
{% endblock %}
