{% extends 'template.front.html.twig' %}

 {% block nav %}
     {% include 'homepage/_menu.html.twig' %}
 {% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h3 class="text-center">Catégorie : {{ section.sectionTitle }}</h3>
            <p>{{ section.sectionDetail }}</p>
            {% if section.articles is not empty %}
                {% for sections in section %}
                {% for article in section.articles %}
                    <div class="col-md-12">
                        <h3>{{ article.articleTitle }}</h3>
                        <p>
                            Écrit par <strong>{{ article.user.username }}</strong> le {{ article.articleDateCreated|date("d/m/Y à H:i") }}
                        </p>
                        <p>{{ article.articleText }}</p>

                        {# Affichage des sections liées à cet article #}
                        {% for section in article.sections %}
                            <a href="#">{{ section.sectionTitle }}</a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <h3>Pas encore d'articles</h3>
                    </div>
                {% endfor %}
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <h3>Pas encore d'articles</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}