{% extends 'template.front.html.twig' %}

{% block title %}{{section.sectionTitle  }}{% endblock %}
{% block nav %}
    {% include 'homepage/_menu.html.twig' %}
{% endblock %}

{% block content %}
    <div class="col-8 mx-auto border-bottom ">
    <h2 class="text-center mt-5 mb-3 text-dark">Section : {{ section.sectionTitle }}</h2>
    <p class="text-dark text-justify">{{ section.sectionDetail }}</p>
    </div>
    <section class="section">
        <div class="container">
            <div class="row">
                {% if section.articles is not empty %}
                    {% for article in section.articles %}
                        <div class="col-lg-4 mb-4">
                            <div class="post-entry-alt">
                                <a href="{{ path('app_article_detail', {'id': article.id}) }}" class="img-link">
                                    <img src="{{ asset('images/textures.jpg') }}" alt="Image" class="img-fluid">
                                </a>
                                <div class="excerpt">
                                    <h2>
                                        <a href="{{ path('app_article_detail', {'id': article.id}) }}">{{ article.title }}</a>
                                    </h2>
                                    <div class="post-meta align-items-center text-left clearfix">
                                        <figure class="author-figure mb-0 me-3 float-start">
                                            <img src="{{ asset('images/person_1.jpg') }}" alt="Image" class="img-fluid">
                                        </figure>
                                        <span class="d-inline-block mt-1">By <a href="#">{{ article.user.username }}</a></span>
                                        <span>&nbsp;-&nbsp; {{ article.articleDatePosted|date("F d, Y") }}</span>
                                    </div>
                                    {% if article.sections is not empty %}
                                        <div class="post-categories mb-3">
                                            <span class="me-2">Sections:</span>
                                            {% for section in article.sections %}
                                                <span class="badge bg-secondary me-1">{{ section.sectionTitle }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {# Coupe le texte #}
                                    <p>{{ article.text|slice(0, 100) ~ '...' }}</p>
                                    <p>
                                        <a href="{{ path('app_article_detail', {'id': article.id}) }}" class="read-more">Lire la suite..</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <h3>Pas encore d'articles</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}