{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    {% block nav %}
        {% include 'homepage/_menu.html.twig' %}
    {% endblock %}

    {% block content %}





        <section class="section">
            <div class="container">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-4 mb-4">
                            <div class="post-entry-alt">
                                <a href="{{ path('app_admin_article_show', {'id': article.id}) }}" class="img-link">
                                    <img src="{{ asset('images/textures.jpg') }}" alt="Image" class="img-fluid">
                                </a>
                                <div class="excerpt">
                                    <h2>
                                        <a href="{{ path('app_admin_article_show', {'id': article.id}) }}">{{ article.title }}</a>
                                    </h2>
                                    <div class="post-meta align-items-center text-left clearfix">
                                        <figure class="author-figure mb-0 me-3 float-start">
                                            <img src="{{ asset('images/person_1.jpg') }}" alt="Image" class="img-fluid">
                                        </figure>
                                        <span class="d-inline-block mt-1">By <a href="#">{{ article.user.username }}</a></span>
                                        <span>&nbsp;-&nbsp; {{ article.articleDatePosted|date("F d, Y") }}</span>
                                    </div>

                                    <p>{{ article.text|slice(0, 100) ~ '...' }}</p>
                                    <p>
                                        <a href="{{ path('app_admin_article_show', {'id': article.id}) }}" class="read-more">Continue Reading</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>Aucun article trouvé.</p>
                    {% endfor %}
                </div>


                </div>


        </section>

        <div class="section bg-light">
            <div class="container">

                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h2 class="posts-entry-title">Travel</h2>
                    </div>
                    <div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a></div>
                </div>

                <div class="row align-items-stretch retro-layout-alt">

                    <div class="col-md-5 order-md-2">
                        <a href="single.html" class="hentry img-1 h-100 gradient">
                            <div class="featured-img" style="background-image: url('{{ asset('images/img_2_vertical.jpg') }}');"></div>
                            <div class="text">
                                <span>February 12, 2019</span>
                                <h2>Meta unveils fees on metaverse sales</h2>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-7">

                        <a href="single.html" class="hentry img-2 v-height mb30 gradient">
                            <div class="featured-img" style="background-image: url('{{ asset('images/img_1_horizontal.jpg') }}');"></div>
                            <div class="text text-sm">
                                <span>February 12, 2019</span>
                                <h2>AI can now kill those annoying cookie pop-ups</h2>
                            </div>
                        </a>

                        <div class="two-col d-block d-md-flex justify-content-between">
                            <a href="single.html" class="hentry v-height img-2 gradient">
                                <div class="featured-img" style="background-image: url('{{ asset('images/img_2_sq.jpg') }}');"></div>
                                <div class="text text-sm">
                                    <span>February 12, 2019</span>
                                    <h2>Don’t assume your user data in the cloud is safe</h2>
                                </div>
                            </a>
                            <a href="single.html" class="hentry v-height img-2 ms-auto float-end gradient">
                                <div class="featured-img" style="background-image: url('{{ asset('images/img_3_sq.jpg') }}')"></div>
                                <div class="text text-sm">
                                    <span>February 12, 2019</span>
                                    <h2>Startup vs corporate: What job suits you best?</h2>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <!-- Footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                        <h3 class="mb-4">About</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                        <div class="widget">
                            <h3>Social</h3>
                            <ul class="list-unstyled social">
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-pinterest"></span></a></li>
                                <li><a href="#"><span class="icon-dribbble"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 ps-lg-5">
                        <div class="widget">
                             <h3 class="mb-4">Company</h3>
                            <ul class="list-unstyled float-start links">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Vision</a></li>
                                <li><a href="#">Mission</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                            <ul class="list-unstyled float-start links">
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Creative</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                             <h3 class="mb-4">Recent Post Entry</h3>
                        <div class="post-entry-footer">
                            <ul>
                                <li>
                                    <a href=""><img src="{{ asset('images/img_1_sq.jpg') }}" alt="Image" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <p>&copy; {{ "now"|date("Y") }} Blogy. Designed with love by Untree.co</p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/tiny-slider.js') }}"></script>
    <script src="{{ asset('js/aos.js') }}"></script>
    <script src="{{ asset('js/glightbox.min.js') }}"></script>
    <script src="{{ asset('js/navbar.js') }}"></script>
    <script src="{{ asset('js/counter.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}