{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    {% block nav %}
        {% include 'homepage/_menu.html.twig' %}
    {% endblock %}

    {% block content %}



        <section class="section">
            <div class="container">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-4 mb-4">
                            <div class="post-entry-alt">
                                <a href="{{ path('app_article_detail', {'id': article.id}) }}" class="img-link">
                                    <img src="{{ asset('images/textures.jpg') }}" alt="Image" class="img-fluid">
                                </a>
                                <div class="excerpt">
                                    <h2>
                                        <a href="{{ path('app_article_detail', {'id': article.id}) }}">{{ article.title }}</a>
                                    </h2>
                                    <div class="post-meta align-items-center text-left clearfix">
                                        <figure class="author-figure mb-0 me-3 float-start">
                                            <img src="{{ asset('images/person_1.jpg') }}" alt="Image" class="img-fluid">
                                        </figure>
                                        <span class="d-inline-block mt-1">By <a href="#">{{ article.user.username }}</a></span>
                                        <span>&nbsp;-&nbsp; {{ article.articleDatePosted|date("F d, Y") }}</span>
                                    </div>
                                    {% if article.sections is not empty %}
                                        <div class="post-categories mb-3">
                                            <span class="me-2">Sections:</span>
                                            {% for section in article.sections %}
                                                <span class="badge bg-secondary me-1">{{ section.sectionTitle }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <p>{{ article.text|slice(0, 100) ~ '...' }}</p>
                                    <p>
                                        <a href="{{ path('app_article_detail', {'id': article.id}) }}" class="read-more">Lire la suite..</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>Aucun article trouvé.</p>
                    {% endfor %}
                </div>


                </div>


        </section>


    {% endblock %}

    {% block footer %}
        {% include 'homepage/footer.html.twig' %}
    {% endblock %}
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/tiny-slider.js') }}"></script>
    <script src="{{ asset('js/aos.js') }}"></script>
    <script src="{{ asset('js/glightbox.min.js') }}"></script>
    <script src="{{ asset('js/navbar.js') }}"></script>
    <script src="{{ asset('js/counter.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}